body{
	font-family: 'Catamaran', sans-serif !important;
}
img[src*="https://www.travelpayouts.com/powered_by/img/tp.png"] {
    display: none;
}
.search-widget iframe{
	position: relative;
	z-index: 9;
}
#searchBg {
    z-index: 0;
    position: absolute;
    width: 100%;
    background: #414aa6;
    height: 109px;
    top: 0;
}
.title{
font-size: 32px;
}
nav#mainNavbar {
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    position: fixed;
    z-index: 999;
}
nav#mainNavbar a{
    text-decoration: none;
    color: #262626;
}
#homeHero {
	position: relative;
    background: url(img/home-banner.jpg) no-repeat center;
    background-size: cover;
    color: white;
}
#homeHero .container{
	position: relative;
	z-index: 5;
}
.jumbotron .features img {
    width: 42px;
    padding: 5px;
}
.hero-overlay {
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,.25);
    top: 0;
    bottom: 0;
    z-index: 2;
}
span.brand-name {
    font-size: 22px;
}
.main{
	padding-top: 66px;
}
.advantages p{
padding: 20px 0;
font-weight: bold;
margin: 0;
font-size: 18px;
}
.logo-img {
    display: inline-block;
}
.logo-img img {
    width: 33px;
    margin-top: -10px;
}
.brand-name {
    display: inline-block;
    font-size: 22px;
    padding-top: 0px;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
  #searchBg {
    height: 279px;
}
}